.__body {
  background-image: url("../../assets/bodyImage.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 20px 342px 60px;
  font-family: "Cera Pro";
}

.__is {
  font-size: 60px;
  font-weight: 700;
  color: #fdfbf7;
  text-align: center;
}

.__claim {
  font-size: 20px;
  font-weight: 400;
  color: #fdfbf7;
  text-align: center;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.__compare {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 340px;
  gap: 12px;
  background-color: rgba(56, 85, 60, 0.25);
  padding: 14px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #fdfbf7;
}

.__cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.__customers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 43px;
  gap: 16px;
}

.__stars {
  display: flex;
  gap: 5px;
}

.__1275 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #517756;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .__body {
    padding: 20px 250px 60px;
  }
}

@media only screen and (max-width: 767px) {
  .__body {
    background-image: url("../../assets/bgMobile.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    padding: 40px 18px;
  }

  .__is {
    font-size: 42px;
  }

  .__claim {
    font-size: 20px;
    font-weight: 400;
    color: #fdfbf7;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .__compare {
    min-width: 0;
    gap: 8px;
    padding: 12px;
    margin-top: 8px;
    font-size: 16px;
  }

  .__cnt {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .__customers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px 0;
    gap: 16px;
  }
}
